*{
    padding: 0;
    margin: 0;
}

header{
    background-color: white;
    width: 100vw;
    height: 80px;
    top: 0;
    position: scroll;
    border-bottom: 2px solid red;
    z-index: 1;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.nav_link{
    text-decoration: none;
    color: orange;
    text-transform: uppercase;
    font-size: 20px;
    padding: 100% 20px;
    transition: ease 0.5s;
}

.nav_link:hover{
    background-color: red;
    color: white;
}

.section{
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#header{
    background-image: url("./image/bg.jpg");
}

.img_circle{
    border-radius: 50%;
    display: block;
    margin: auto;
}

.name{
    text-align: center;
    font-size: 25pt;
    color: orange;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
}

